# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment folders
venv/
env/

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

developer.zip